APP_NAME="Frigo Sistem"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Europe/Belgrade
APP_KEY=
SESSION_IDLE_TIMEOUT=1800

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=frigo_sistem
DB_USERNAME=frigo_sistem
DB_PASSWORD=
